body
    color blue
    font-family arial, helvetica
    margin 10px

ol, ul
    margin-bottom 1em
    
span
    margin-right 20px
    
table
    width 100%
    tr
        td
            padding-right 10px
            
        td.date_time
        td.character
        td.context
            width 33%