<template name="new_post">
    
    <p>
        <span><a href='/feeds'>Index</a></span>
        <span><a href='/feeds/edit'>Edit feeds</a></span>
    </p>
    
    <hr />

    <p>
        <span>{{feed_name}}</span>
    </p>
    
    <p>
        <span><a href='/feeds/{{feed_id}}'>View</a></span>
        <span>Post</span>
    </p>
    
    <hr />
    
    <p>Characters:</p>
    
    <ul class='characters'>
        {{#each characters}}
            <li>[ {{key}} ] {{name}}</li>
        {{/each}}
    </ul>
    
    <hr />
    
    <div>
        <input type="text" id="new-post" placeholder="New post" />
        <input type="button" class="submit" value="Send" />
    </div>
    
</template>