<template name="new_post">
    
    <p>
        <span><a href='/feeds'>Index</a></span>
        <span><a href='/feeds/edit'>Edit feeds</a></span>
    </p>
    
    <hr />

    <p>
        <span>{{feed_name}}</span>
    </p>
    
    <p>
        <span><a href='/feeds/{{feed_id}}'>View</a></span>
        <span>Post</span>
    </p>
    
    <hr />
    
    <p>Characters:</p>
    
    <ul class='characters'>
        {{#each characters}}
            <li>[ {{key}} ] {{name}}</li>
        {{/each}}
    </ul>
    
    <div id='character_post'>
        {{> new_character_post}}
    </div>
    
    <hr />
    
    <p>Context:</p>
    
    <div id='context_post'>
        {{> new_context_post}}
    </div>
    
    <hr />
    
</template>