<template name="posts">
    
    <p>
        <span><a href='/feeds'>Index</a></span>
        <span><a href='/feeds/edit'>Edit feeds</a></span>
    </p>
    
    <hr />
    
    <p>
        <span>{{feed_name}}</span>
    </p>
    
    <p>
        <span>View</span>
        <span><a href='/feeds/{{feed_id}}/new'>Post</a></span>
    </p>
        
    <hr />
    
    <table class="posts">
        <tr>
            <th class='date_time'>DATE / TIME</td>
            <th class='character'>CHARACTER</td>
            <th class='context'>CONTEXT</td>
        </tr>
        {{#each posts}}
            <tr>
                {{> post}}
            </tr>
        {{/each}}
    </table>
    
</template>
