<template name="posts">

    <div id="posts">
        
        <div id="info">
            <p><span class='name'>{{feed_name}}</span></p>
            
            <p><span class='date'>{{date_string}}</span> <span class='time'>{{time_string}}</span></p>
            
            <ul id='characters'>
                {{#each characters}}
                    <li>{{name}}</li>
                {{/each}}
            </ul>
        </div>
        
        <ol id="situation" class='posts'>
            {{#each situation_posts}}
                {{> post}}
            {{/each}}
        </ol>
        
        <ol id="cast" class='posts'>
            {{#each cast_posts}}
                {{> post}}
            {{/each}}
        </ol>
        
        <ol id="opinion" class='posts'>
            {{#each opinion_posts}}
                {{> post}}
            {{/each}}
        </ol>
    
    </div>
    
    <div id='situation' class='label'>Situation</div>
    <div id='cast' class='label'>Cast</div>
    <div id='opinion' class='label'>Opinion</div>
    <div id='back' class='label'><a href='/'>Back</a></div>
    
</template>
