<template name="feed">

    <tr class='feed' data-feed-id="{{_id}}">
        <td class='situation'>
            <div class='name'>{{name}}</div>
            {{#if authors}}
                <div class='authors'>by {{authors}}</div>
            {{/if}}
        </td>

        <td class='time'>
            <div class='date'>{{date_string}}</div>
            {{#if time}}
                <div class='time elapsed'>{{time}}</div>
            {{else}}
                <div class='time'>starts at {{time_string}}</div>
            {{/if}}
        </td>

        <td class='cast'>
            <ul class='characters'>
                {{#each characters}}
                    <li>{{name}}</li>
                {{/each}}
            </ul>
        </td>
    </tr>

</template>