<template name="feed">

    <tr>
        <td class='situation'>
            <div class='name'><a href="/feeds/{{_id}}" class='feed_name'>{{name}}</a></div>
            {{#if authors}}
                <div class='authors'>by {{authors}}</div>
            {{/if}}
        </td>

        <td class='time'>
            <!-- <div class='time'>{{time_string}}</div> -->
            <div class='date'>{{date_string}}</div>
            <div class='time'>{{time}}</div>
        </td>

        <td class='cast'>
            <ul class='characters'>
                {{#each characters}}
                    <li>{{name}}</li>
                {{/each}}
            </ul>
        </td>
    </tr>

</template>